<?xml version='1.0'?>

<guide>
<title>Gentoo Linux Server Installation and Configuration Super-Guide</title>
<author title="Author"><mail link="peitolm@gentoo.org">
Colin Morey</mail>
</author>

<abstract>A collection of guides aimed at helping to install and configure Gentoo Linux for server duties</abstract>

<version>1.0</version>
<date>6th June 2002</date>

<chapter>
<title>Installation</title>
<section>
<title>Filesystem Configuration Options</title>
<body>
<p>Currently with gentoo there are a number of methods of building/creating a
volume for use as a server, most of which are applicable to
desktop/workstation usage as well.</p>
<p>
<table>
	<th>LVM guide:</th><ti><uri>http://lvm-guide.html</uri></ti>
	<th>Alternative LVM guide:</th><ti><uri>http://lvm-guide.html</uri></ti>
	<th>Software RAID:</th><ti><uri>http://software-raid.html</uri></ti>
	<th>Hardware RAID:</th><ti><uri>http://hardware-raid.html</uri></ti>
</table>
</p>
<p>
Once the volume is built, be it straight access, LVM or RAID, we need to build a filesystem on to it. There are a number of different options, many fully production ready, all of them with their own pro's and cons. N.B. I've not tested many of these, this is just what i've been able to dig up.
</p>
<p>
<table>
	<th>EXT2/3</th>
	<th>ReiserFS</th>
	<th>XFS</th>
	<th>JFS</th>
</table>
</p>
<p> This Guide will not currently be dealing with how to configure what ever parition layout you will need. However if you would like to see references to other guides</p>
</body>
</section>
<section>
<title>Filesystem Configuration Options</title>
</section>
</chapter>
</guide>
