h2 {
	font-family: cursive;
	font-variant: small-caps;
	color: #883663;
	border-width: thin thin thin thin;
	border-style: none none dashed none;
}


td { 
	color: #223311;
	background-color: #E9F7D9;
}

th {
	color: #223311;
	background-color: #F9F7E9;
}

p {
	color: #223311;
}

a:link    { color: #112233; }
a:visited { border: thin dotted #800080 }
a:active  { border: thick double red }