html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
    color: #000000;
	background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#content {
    background: url(/images/error.png) 0 0 no-repeat;
    padding: 40px 20% 0 20%;
}
#thankyou {
    margin: 20px 0 0 0;
}
#signature {
    margin-left: 20px;
}
