#// Example User Configuration Variables
#//------------------------------------------------------------------------------------------------

#// Install Path
CROSS_HOME="/home/crossdev"

#// Crossdev root bin subdir
#// *XXX* Not implemented yet
CROSS_ROOTBIN="root"

#// Location inside portage TMPDIR to work
CROSS_TMPBIT="crossdevbuild"

#// Delay time before starting
DELAY_TIME=15

#// Minimum kernel version to pass to glibc-core via --enable-kernel
MIN_KV="2.4.16"

#// Extra Colors
USE_COLOR="yes"

#// Sparc32 ABI Defaults (v7, v8, v9, supersparc, hypersparc, or ultrasparc)
#// (Optimizes the sparc32 compiler for a specific instruction set)
#// If you use sparc32 for ultrasparc userland, use "v9" or "ultrasparc"
SPARCABI=v9

#// Mips ABI/ISA Defaults
#// ${MIPSISA} supports -mips1, -mips2, -mips3, & -mips4
#// ${MIPSABI} supports 32, n32, 64, o64, eabi, & meabi
#// Read the gcc manual to better understand these
MIPSISA=-mips3
MIPSABI=32

#// Use Portage's sandbox?
USE_SANDBOX="yes"

#//------------------------------------------------------------------------------------------------
