#// Example User Configuration Variables
#//------------------------------------------------------------------------------------------------

#// Install Path
CROSS_HOME="/home/crossdev"


#// Crossdev root bin subdir
#// *XXX* Not implemented yet
CROSS_ROOTBIN="root"


#// Location inside portage TMPDIR to work
CROSS_TMPBIT="crossdevbuild"


#// Delay time before starting
DELAY_TIME=15


#// Minimum kernel version to pass to glibc-core via --enable-kernel
MIN_KV="2.4.16"


#// Extra Colors (yes/no)
USE_COLOR="yes"


#// Sparc32 ABI Defaults (v7, v8, v9, supersparc, hypersparc, or ultrasparc)
#// (Optimizes the sparc32 compiler for a specific instruction set)
#// If you use sparc32 for ultrasparc userland, use "v9" or "ultrasparc"
SPARCABI="v9"


#// Mips ABI/ISA Defaults
#// ${MIPSISA} supports -mips1, -mips2, -mips3, -mips4, -mips32, -mips64
#// -mips2 is the lowest common denominator in 99.999% of boards, but is very slow.
#// ${MIPSABI} supports 32, n32, 64, o64, eabi, meabi
#// Read the gcc manual to better understand these.
MIPSISA="-mips2"
MIPSABI="32"


#// Use Portage's sandbox? (yes/no)
USE_SANDBOX="yes"


#// How to move source trees from portage's tempdir to work on?
#//
#// Copying the source trees saves time when you are forced to wipe the crossdev
#// buildir (which will happen often, I still have to find a more elegant solution
#// to that bit), but copying means more drive space used.
#//
#// Moving is quicker than copying (if on the same drive/partition), but if you're
#// forced to unpack sources again, time is spent waiting for the 'ebuild' call
#// to do its work.
#//
#// Symlinking and Hardlinking use linking to get the job done.  This can be faster
#// than copying, but if files change, the changes will show up in the Portage tmpdir.
#// Hardlinking will not work if the Portage tmpdir and crossdev builddir are on
#// different devices.
#//
#// Rsync is the same as copy, except rsync is more efficient at copying large blocks
#// of files (like source treeS).
#//
#// Accepted parameters for below are: 'copy', 'move', 'symlink', 'hardlink', or 'rsync'
COPY_MODE="copy"

#//------------------------------------------------------------------------------------------------
