.deps
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
gccconfig.kdevelop
gccconfig.kdevelop.filelist
gccconfig.kdevelop.pcs
gccconfig.kdevses
install-sh
missing
stamp-h1
templates
test.sh
Doxyfile
Makefile
Makefile.in
