<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/xsl/project.xsl" type="text/xsl"?>
<?xml-stylesheet href="/xsl/guide.xsl" type="text/xsl"?>
<!DOCTYPE project SYSTEM "/dtd/project.dtd">

<project>
<name>events</name>
<longname>Gentoo Happenings &amp; Events</longname>
<date>November 24, 2003</date>

<description>
The Free Software Community is colored with many happenings and events. Very
important on such events is the availability of the major players, including
distributions. This subproject tries to cover all events where Gentoo can
present itself.
</description>

<longdescription>
<p>
The goal of this subproject is to be aware of all Linux &amp; Free Software
Events and see if Gentoo can be promoted on those happenings.
</p>
</longdescription>

<!-- Developers -->
<dev role="lead" description="Project Manager">sj7trunks</dev>

<task lead="klieber">
<name>Listing</name>
<description>
Inform Developers about upcoming Events
</description>
<startdate>Unknown</startdate>
<milestone>
  <enddate>None</enddate>
  <description>
  Inform and aide developers in presenting Gentoo on upcoming events
  </description>
</milestone>
</task>

</project>
