body {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
}

#top {
	border-bottom: 1px dashed grey;
}

#top #logo {
	position: relative;
}

#top #header {
	position: relative;
	font-weight: bold;
	font-size: 2.8em;
	top: 32px;
	left: 50px;
}

#menu {
	position: absolute;
	width: 15em;
	border-right: 1px dashed grey;
}

#menu h1 {
	font-size: 1.2em;
	font-weight: bold;
	
}

#menu li {
	padding-bottom: 5px;
}

#body {
	position: absolute;
	padding-left: 20px;
	left: 18em;
}
