<AxMediaType screen>
   <AxStyleName #default>
      AxAddProcessor text/xsl /xsl/guide.xsl
   </AxStyleName>
   <AxStyleName print>
      AxAddProcessor text/xsl /xsl/guide-print.xsl
   </AxStyleName>
</AxMediaType>
