A45ca2137|flameeyes|<remote>|gentoo-x86/kde-base/krdc/files|1.1|digest-krdc-3.5.6-r1
A45ca2137|flameeyes|<remote>|gentoo-x86/kde-base/krdc/files|1.1|krdc-3.5.6-zeroconf.patch
M45ca2142|flameeyes|<remote>|gentoo-x86/kde-base/krdc|1.110|Manifest
M45ca2237|nattfodd|<remote>|gentoo-x86/dev-ml/ocaml-expat|1.2|ocaml-expat-0.9.1.ebuild
M45ca2237|nattfodd|<remote>|gentoo-x86/dev-ml/ocaml-expat|1.2|ChangeLog
M45ca226c|nattfodd|<remote>|gentoo-x86/dev-ml/ocaml-expat|1.3|Manifest
M45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.46|ChangeLog
A45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.1|beagle-0.2.16.ebuild
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.5|beagle-0.2.13.ebuild
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.2|beagle-0.2.15.1.ebuild
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.5|beagle-0.2.14.ebuild
A45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.1|digest-beagle-0.2.16
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.2|digest-beagle-0.2.14
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.2|beagle-0.2.15.1-crawllocation.patch
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.2|digest-beagle-0.2.13
R45ca23db|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.2|digest-beagle-0.2.15.1
M45ca23eb|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.96|Manifest
M45ca2512|drac|<remote>|gentoo-x86/profiles/updates|1.11|1Q-2007
M45ca2619|drac|<remote>|gentoo-x86/x11-themes/gtk-engines-xfce|1.62|ChangeLog
M45ca2619|drac|<remote>|gentoo-x86/x11-themes/gtk-engines-xfce|1.4|gtk-engines-xfce-2.4.0.ebuild
M45ca2627|drac|<remote>|gentoo-x86/x11-themes/gtk-engines-xfce|1.100|Manifest
M45ca26a7|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.2|beagle-0.2.16.ebuild
M45ca26a7|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.47|ChangeLog
A45ca26a7|metalgod|<remote>|gentoo-x86/app-misc/beagle/files|1.1|beagle-0.2.16-monofix.patch
M45ca26b6|metalgod|<remote>|gentoo-x86/app-misc/beagle|1.97|Manifest
O45ca26e4|robbat2|~/*0|gentoo/src/gwn||gentoo/src/gwn
A45ca27cd|robbat2|~*a|gentoo/src/gwn/find-cvs-adds-and-removals|1.1|README
A45ca27cd|robbat2|~*a|gentoo/src/gwn/find-cvs-adds-and-removals|1.1|find-cvs-adds-and-removals-mailer.sh
A45ca27cd|robbat2|~*a|gentoo/src/gwn/find-cvs-adds-and-removals|1.1|find-cvs-adds-and-removals-wrapper.sh
A45ca27cd|robbat2|~*a|gentoo/src/gwn/find-cvs-adds-and-removals|1.1|find-cvs-adds-and-removals.crontab
A45ca27cd|robbat2|~*a|gentoo/src/gwn/find-cvs-adds-and-removals|1.1|find-cvs-adds-and-removals.py
M45ca2820|tupone|<remote>|gentoo-x86/media-libs/glfw|1.6|ChangeLog
A45ca2820|tupone|<remote>|gentoo-x86/media-libs/glfw|1.1|glfw-2.5.0-r1.ebuild
A45ca2820|tupone|<remote>|gentoo-x86/media-libs/glfw/files|1.1|digest-glfw-2.5.0-r1
A45ca2820|tupone|<remote>|gentoo-x86/media-libs/glfw/files|1.1|glfw-2.5.0-dyn.patch
M45ca2847|tupone|<remote>|gentoo-x86/media-libs/glfw|1.10|Manifest
M45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve|1.16|ChangeLog
A45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve|1.1|pecl-mcve-5.2.2.ebuild
R45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve|1.2|pecl-mcve-5.2.1.ebuild
M45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve/files|1.2|digest-pecl-mcve-5.2.0
A45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve/files|1.1|digest-pecl-mcve-5.2.2
R45ca2a83|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve/files|1.2|digest-pecl-mcve-5.2.1
M45ca2ad8|cardoe|<remote>|gentoo-x86/dev-php5/pecl-mcve|1.27|Manifest
M45ca2c5f|blubb|<remote>|gentoo-x86/x11-wm/icewm|1.6|icewm-1.2.30.ebuild
M45ca2c5f|blubb|<remote>|gentoo-x86/x11-wm/icewm|1.126|ChangeLog
M45ca2c69|blubb|<remote>|gentoo-x86/x11-wm/icewm|1.148|Manifest
M45ca2cc5|sanchan|<remote>|gentoo-x86/dev-libs/beecrypt|1.54|ChangeLog
M45ca2cc5|sanchan|<remote>|gentoo-x86/dev-libs/beecrypt|1.3|beecrypt-4.1.2-r2.ebuild
M45ca2cc5|sanchan|<remote>|gentoo-x86/dev-libs/beecrypt|1.20|beecrypt-4.1.2-r1.ebuild
M45ca2cd6|sanchan|<remote>|gentoo-x86/dev-libs/beecrypt|1.76|Manifest
