[Desktop Entry]
Name=GNU Emacs
Comment=Emacs is the extensible, customizable, self-documenting real-time display editor.
Icon=emacs.png
Terminal=0
Type=Application;TextEditor
Categories=Application;Development;
Exec=/usr/bin/emacs
